node_modules/
.pnp
.pnp.js

dist/
dist-ssr/
build/
out/

.env
.env.local
.env.development
.env.development.local
.env.test
.env.test.local
.env.production
.env.production.local
.env.staging

logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

prisma/migrations/dev.db
prisma/migrations/dev.db-journal
*.db
*.db-journal
*.sqlite
*.sqlite-journal

.cache/
.tmp/
*.local
.turbo/
.vercel/
.netlify/

coverage/
.nyc_output/

.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.iml

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Thumbs.db
ehthumbs.db
Desktop.ini

*.tsbuildinfo

*.pem
*.key
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
